# Telegram API
API_ID=
API_HASH=
BOT_TOKEN=

# Bot Information
BOT_NAME=Iqra Music
BOT_USERNAME=
OWNER_ID=
OWNER_USERNAME=

# MongoDB
MONGO_DB_URI=

# Pyrogram Session
STRING_SESSION=

# Support & Updates
SUPPORT_CHAT=
UPDATES_CHANNEL=

# Spotify (Optional)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# YouTube
YOUTUBE_API_KEY=

# Logs
LOG_GROUP_ID=

# Images
START_IMAGE_URL=
