# Telegram API
API_ID=
API_HASH=
BOT_TOKEN=

# MongoDB
MONGO_DB_URI=

# Bot Details
BOT_NAME=Iqra Music
BOT_USERNAME=
OWNER_NAME=Abdul Malik
OWNER_USERNAME=
SUPPORT_CHAT=
UPDATES_CHANNEL=

# Logging
LOG_GROUP_ID=

# Sudo Users
SUDO_USERS=
